.registerMainDiv{
    width:100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.registerCenterDiv{
 width: 95%;
 height: 100svh;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 40px;
 max-width: 600px;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:30px;
    gap: 20px;
}

header h1{
 font-family: 'jockey one';
}

header p{
    font-family: "Carrois Gothic";
    font-size: 1rem;
}

header img{
    width: 150px;
    height: 150px;
}

.registerCenterDiv form{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    position: relative;
}

.registerCenterDiv form span{
    display: flex;
    align-items: center;
    gap: 10px;
}

.registerCenterDiv form span i{
   font-size: 20px;
}

.registerCenterDiv form span input{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
    font-size: 1rem;
    font-family: "Mate";
}

#eyeIcon{
    cursor: pointer;
    position: absolute;
    right: 5px;
}

#redirectTxt{
 font-family: "Carrois Gothic";
}

.registerCenterDiv button{
  width: 85%;
  border-radius: 15px;
  height: 45px;
  background-color: #FB3C3D;
  color: white;
  font-family: 'Magra';
  font-size: 1.2rem;
  border: 1px solid red;
  cursor: pointer;
}

.errorDiv{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.errorDiv div{
 display: flex;
 width: 80%;
 max-width: 300px;
 flex-direction: column;
 background-color: white;
 align-items: center;
 padding: 40px;
 gap: 20px;
 border-radius: 10px;
 border: 2px solid black;
 box-shadow: 2px 2px 10px rgb(247, 246, 246);
}

.errorDiv div i{
    font-size: 4rem;
}

#errorMessage{
    font-size: 1.5rem;
    color: red;
    font-family: sans-serif;
    z-index: 1;
    text-align: center;
}

@media only screen and (min-width:800px){
  .registerCenterDiv{
        justify-content: center;
  }

  .header{
    margin-top: 0px;
  }
}